/*font*/
body {
  font-family: "Lato", sans-serif;
  color: #121212;
}
.sec-font {
  font-family: "Pacifico", cursive;
}
/*genrral*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/*colors*/
:root{
--beige:#f4eede;
--green:#79cba8;
--orange:#f5a64a;
}
.bold-grey{
    color:#212121
}
.grey{
    color: #696969;
}
.orange{
    color:var(--orange);
}
.dark-grey{
    color:#ababab;
}
.green{
    color:var(--green);
}
.beige{
    color:#f4eede;
}
.yellow{
    color: #ecc347;
}
.red{
    color:#dd3333;
}
.baby-blue{
    color: #89d7f0;
}
.dark-green{
    color:#82bd1a;
}
.black{
    color: #121212;
}
/*container*/
.my-container{
width:calc(100% - 100px);
margin: auto;
}
/*text*/
.t-align{
    text-align: center;
    
}
